/*! mielo v1.0.2 | MIT License | github.com/friktor/mielo */
.mie.header.tiny {
  --mie-header-subtitle-fs: 1.2rem;
  --mie-header-title-fs: 1.4rem;
}

.mie.header.small {
  --mie-header-subtitle-fs: 1.4rem;
  --mie-header-title-fs: 1.5rem;
}

.mie.header {
  --mie-header-subtitle-fs: 1.4rem;
  --mie-header-title-fs: 1.8rem;
  --mie-header-icon-space: 0.8rem;
}

.mie.header.large {
  --mie-header-subtitle-fs: 1.6rem;
  --mie-header-title-fs: 2.4rem;
}

.mie.header.big {
  --mie-header-subtitle-fs: 1.6rem;
  --mie-header-title-fs: 2.8rem;
}

.mie.header.huge {
  --mie-header-subtitle-fs: 1.8rem;
  --mie-header-title-fs: 3.1rem;
}

.mie.label {
  --mie-label-pv: 0.8rem;
  --mie-label-ph: 0.8rem;
  --mie-label-fs: 1.2rem;
  --mie-label-rounded: 0.6rem;
  --mie-label-border-w: 0.1rem;
}

.mie.label.tiny {
  --mie-label-pv: 0.4rem;
  --mie-label-ph: 0.4rem;
  --mie-label-fs: 0.8rem;
}

.mie.label.small {
  --mie-label-pv: 0.4rem;
  --mie-label-ph: 0.4rem;
  --mie-label-fs: 1rem;
}

.mie.label.large {
  --mie-label-pv: 1.2rem;
  --mie-label-ph: 1.2rem;
  --mie-label-fs: 1.4rem;
}

.mie.label.big {
  --mie-label-pv: 1.6rem;
  --mie-label-ph: 1.6rem;
  --mie-label-fs: 1.6rem;
}

.mie.label.huge {
  --mie-label-pv: 2rem;
  --mie-label-ph: 2rem;
  --mie-label-fs: 2rem;
}

.mie.label.massive {
  --mie-label-pv: 2.4rem;
  --mie-label-ph: 2.4rem;
  --mie-label-fs: 2.3rem;
}

.mie.item {
  --mie-item-description-fs: 1.2rem;
  --mie-item-title-fs: 1.4rem;
}

.mie.item.small {
  --mie-item-description-fs: 0.8rem;
  --mie-item-title-fs: 1.2rem;
}

.mie.item.large {
  --mie-item-description-fs: 1.4rem;
  --mie-item-title-fs: 1.6rem;
}

.mie.text {
  --mie-text-fs: 1.4rem;
}

.mie.text.tiny {
  --mie-text-fs: 1rem;
}

.mie.text.small {
  --mie-text-fs: 1.2rem;
}

.mie.text.large {
  --mie-text-fs: 1.6rem;
}

.mie.text.big {
  --mie-text-fs: 2rem;
}

.mie.text.huge {
  --mie-text-fs: 2.3rem;
}

.mie.text.massive {
  --mie-text-fs: 2.6rem;
}

.mie.checkbox {
  --mie-checkbox-fs: 1.4rem;
  --mie-checkbox-content-space: 0.8rem;
  --mie-checkbox-icon-offset: 0.15rem;
  --mie-checkbox-icon-size: 1.4rem;
  --mie-checkbox-size: 2rem;
}

.mie.checkbox.small {
  --mie-checkbox-fs: 1.2rem;
  --mie-checkbox-content-space: 0.6rem;
  --mie-checkbox-icon-offset: 0.06rem;
  --mie-checkbox-icon-size: 1rem;
  --mie-checkbox-size: 1.6rem;
}

.mie.checkbox.large {
  --mie-checkbox-fs: 1.6rem;
  --mie-checkbox-content-space: 1rem;
  --mie-checkbox-icon-offset: 0.3rem;
  --mie-checkbox-icon-size: 1.6rem;
  --mie-checkbox-size: 2.6rem;
}

.mie.toggle {
  --mie-toggle-fs: 1.4rem;
  --mie-toggle-content-space: 0.8rem;
  --mie-toggle-rounded: 3.4rem;
  --mie-toggle-height: 2.4rem;
  --mie-toggle-width: 4rem;
  --mie-toggle-indicator-icon-size: 1.2rem;
  --mie-toggle-indicator-height: 2rem;
  --mie-toggle-indicator-width: 2rem;
  --mie-toggle-indicator-active-offset: 1.6rem;
  --mie-toggle-indicator-offset-v: 0.2rem;
  --mie-toggle-indicator-offset-h: 0.2rem;
}

.mie.toggle.small {
  --mie-toggle-fs: 1.2rem;
  --mie-toggle-content-space: 0.6rem;
  --mie-toggle-rounded: 2.4rem;
  --mie-toggle-height: 1.8rem;
  --mie-toggle-width: 3.4rem;
  --mie-toggle-indicator-icon-size: 0.8rem;
  --mie-toggle-indicator-height: 1.5rem;
  --mie-toggle-indicator-width: 1.5rem;
  --mie-toggle-indicator-active-offset: 1.55rem;
  --mie-toggle-indicator-offset-v: 0.09rem;
  --mie-toggle-indicator-offset-h: 0.2rem;
}

.mie.toggle.large {
  --mie-toggle-fs: 1.6rem;
  --mie-toggle-content-space: 1rem;
  --mie-toggle-rounded: 4.4rem;
  --mie-toggle-height: 2.8rem;
  --mie-toggle-width: 4.4rem;
  --mie-toggle-indicator-icon-size: 1.6rem;
  --mie-toggle-indicator-height: 2.4rem;
  --mie-toggle-indicator-width: 2.4rem;
  --mie-toggle-indicator-active-offset: 1.6rem;
  --mie-toggle-indicator-offset-v: 0.2rem;
  --mie-toggle-indicator-offset-h: 0.2rem;
}

.mie.select {
  --mie-select-rounded: 0.6rem;
  --mie-select-min-width: 10rem;
  --mie-select-padding: 1.6rem;
  --mie-select-height: 5.4rem;
  --mie-select-value-margin: 0.2rem;
  --mie-select-indicator-right: 0.6rem;
  --mie-select-label-fs: 1.2rem;
  --mie-select-value-fs: 1.4rem;
  --mie-select-menu-offset: 0.6rem;
  --mie-select-menu-h: 12.5rem;
}

.mie.select.small {
  --mie-select-min-width: 8rem;
  --mie-select-padding: 1.4rem;
  --mie-select-height: 3.4rem;
  --mie-select-value-margin: 0.2rem;
  --mie-select-indicator-right: 0.4rem;
  --mie-select-label-fs: 0.8rem;
  --mie-select-value-fs: 1.2rem;
}

.mie.select.large {
  --mie-select-min-width: 14rem;
  --mie-select-padding: 1.4rem;
  --mie-select-height: 6.4rem;
  --mie-select-value-margin: 0.2rem;
  --mie-select-indicator-right: 0.8rem;
  --mie-select-label-fs: 1.4rem;
  --mie-select-value-fs: 1.6rem;
}

.mie.slider {
  --mie-slider-min-length: 12rem;
  --mie-slider-thumb: 2rem;
  --mie-slider-h: 0.4rem;
}

.mie.slider.small {
  --mie-slider-min-length: 8rem;
  --mie-slider-thumb: 1.4rem;
  --mie-slider-h: 0.2rem;
}

.mie.slider.large {
  --mie-slider-min-length: 14rem;
  --mie-slider-thumb: 2.6rem;
  --mie-slider-h: 0.8rem;
}

.mie.entry {
  --mie-entry-value-fs: 1.4rem;
  --mie-entry-p: 2.5rem 1.6rem 0.7rem 1.6rem;
  --mie-entry-mw: 10rem;
  --mie-entry-h: 5.4rem;
  --mie-entry-label-fs: 1.2rem;
  --mie-entry-label-ph: 1.6rem;
  --mie-entry-label-offset-active: 0.9rem;
  --mie-entry-label-offset-empty: 1.8rem;
}

.mie.entry.small {
  --mie-entry-value-fs: 1.2rem;
  --mie-entry-p: 1.4rem 1rem 0.4rem 1rem;
  --mie-entry-mw: 8rem;
  --mie-entry-h: 3.4rem;
  --mie-entry-label-fs: 0.8rem;
  --mie-entry-label-ph: 1rem;
  --mie-entry-label-offset-active: 0.3rem;
  --mie-entry-label-offset-empty: 1rem;
}

.mie.entry.large {
  --mie-entry-value-fs: 1.6rem;
  --mie-entry-p: 2.6rem 1.8rem 0.6rem 1.8rem;
  --mie-entry-mw: 14rem;
  --mie-entry-h: 6.4rem;
  --mie-entry-label-fs: 1.4rem;
  --mie-entry-label-ph: 1.8rem;
  --mie-entry-label-offset-active: 1rem;
  --mie-entry-label-offset-empty: 2.2rem;
}

.mie.radio {
  --mie-radio-fs: 1.4rem;
  --mie-radio-content-space: 0.8rem;
  --mie-radio-inner-size: 0.8rem;
  --mie-radio-inner-mv: 0.4rem;
  --mie-radio-inner-mh: 0.4rem;
  --mie-radio-size: 2rem;
}

.mie.radio.small {
  --mie-radio-fs: 1.2rem;
  --mie-radio-content-space: 0.6rem;
  --mie-radio-inner-size: 0.4rem;
  --mie-radio-inner-mv: 0.45rem;
  --mie-radio-inner-mh: 0.4rem;
  --mie-radio-size: 1.6rem;
}

.mie.radio.large {
  --mie-radio-fs: 1.6rem;
  --mie-radio-content-space: 1rem;
  --mie-radio-inner-size: 1.2rem;
  --mie-radio-inner-mv: 0.5rem;
  --mie-radio-inner-mh: 0.5rem;
  --mie-radio-size: 2.6rem;
}

.mie.progress {
  --mie-progress-rounded: 2rem;
  --mie-progress-size: 1rem;
  --mie-progress-bar-fs: 0.8rem;
}

.mie.progress.small {
  --mie-progress-rounded: 1.6rem;
  --mie-progress-size: 0.6rem;
  --mie-progress-bar-fs: 0.8rem;
}

.mie.progress.large {
  --mie-progress-rounded: 4rem;
  --mie-progress-size: 2rem;
  --mie-progress-bar-fs: 1.2rem;
}

.mie.button {
  --mie-button-fs: 1.4rem;
  --mie-button-ph: 1.2rem;
  --mie-button-pv: 0.8rem;
  --mie-button-rounded: 0.6rem;
}

.mie.button.tiny {
  --mie-button-fs: 1rem;
  --mie-button-ph: 0.8rem;
  --mie-button-pv: 0.8rem;
}

.mie.button.small {
  --mie-button-fs: 1.2rem;
  --mie-button-ph: 1.2rem;
  --mie-button-pv: 0.8rem;
}

.mie.button.large {
  --mie-button-fs: 1.6rem;
  --mie-button-ph: 1.6rem;
  --mie-button-pv: 1.2rem;
}

.mie.button.big {
  --mie-button-fs: 2rem;
  --mie-button-ph: 2rem;
  --mie-button-pv: 1.6rem;
}

.mie.button.huge {
  --mie-button-fs: 2.3rem;
  --mie-button-ph: 2.4rem;
  --mie-button-pv: 2rem;
}

.mie.button.massive {
  --mie-button-fs: 2.6rem;
  --mie-button-ph: 2rem;
  --mie-button-pv: 1.6rem;
}

.mie.image.mini {
  --mie-image-size: 3.4rem;
}

.mie.image.tiny {
  --mie-image-size: 8rem;
}

.mie.image.small {
  --mie-image-size: 15rem;
}

.mie.image {
  --mie-image-border-w: 0.2rem;
}

.mie.image.large {
  --mie-image-size: 45rem;
}

.mie.image.big {
  --mie-image-size: 60rem;
}

.mie.image.huge {
  --mie-image-size: 80rem;
}

.mie.image.massive {
  --mie-image-size: 96rem;
}

.mie.icon.mini {
  --mie-icon-fs: 0.6rem;
}

.mie.icon.tiny {
  --mie-icon-fs: 0.8rem;
}

.mie.icon.small {
  --mie-icon-fs: 1.2rem;
}

.mie.icon {
  --mie-icon-fs: 1.6rem;
}

.mie.icon.large {
  --mie-icon-fs: 2.1rem;
}

.mie.icon.big {
  --mie-icon-fs: 2.8rem;
}

.mie.icon.huge {
  --mie-icon-fs: 5.6rem;
}

.mie.icon.massive {
  --mie-icon-fs: 12rem;
}

.mie.headerbar {
  --mie-headerbar-ph: 1rem;
  --mie-headerbar-size: 4.6rem;
}

.mie.row.item {
  --mie-row-item-ph: 1.6rem;
  --mie-row-item-mh: 5.4rem;
}

.mie.message {
  --mie-message-description-fs: 1.2rem;
  --mie-message-title-fs: 1.4rem;
  --mie-message-padding: 1.2rem 1.6rem;
  --mie-message-title-space: 0.4rem;
  --mie-message-icon-space: 0.6rem;
  --mie-message-margin-v: 1.2rem;
  --mie-message-rounded: 1.2rem;
}

.mie.message.tiny {
  --mie-message-description-fs: 0.8rem;
  --mie-message-title-fs: 1rem;
  --mie-message-padding: 0.8rem 1.2rem;
  --mie-message-title-space: 0rem;
  --mie-message-icon-space: 0.4rem;
}

.mie.message.small {
  --mie-message-description-fs: 1rem;
  --mie-message-title-fs: 1.2rem;
  --mie-message-padding: 1rem 1.4rem;
  --mie-message-title-space: 0.2rem;
  --mie-message-icon-space: 0.4rem;
}

.mie.message.large {
  --mie-message-title-fs: 1.6rem;
  --mie-message-description-fs: 1.5rem;
  --mie-message-padding: 1.4rem 1.8rem;
  --mie-message-title-space: 0.6rem;
  --mie-message-icon-space: 0.8rem;
}

.mie.message.big {
  --mie-message-description-fs: 1.6rem;
  --mie-message-title-fs: 2rem;
  --mie-message-padding: 1.6rem 2rem;
  --mie-message-title-space: 0.6rem;
  --mie-message-icon-space: 1rem;
}

.mie.message.huge {
  --mie-message-description-fs: 1.6rem;
  --mie-message-title-fs: 2.3rem;
  --mie-message-padding: 1.8rem 2.2rem;
  --mie-message-title-space: 0.6rem;
  --mie-message-icon-space: 1.2rem;
}

.mie.message.massive {
  --mie-message-description-fs: 1.6rem;
  --mie-message-title-fs: 2.6rem;
  --mie-message-padding: 2rem 2.4rem;
  --mie-message-title-space: 0.6rem;
  --mie-message-icon-space: 1.4rem;
}

.mie.sidebar.small {
  --mie-sidebar-w: 20rem;
}

.mie.sidebar {
  --mie-sidebar-w: 26rem;
}

.mie.sidebar.large {
  --mie-sidebar-w: 32rem;
}

.mie.window {
  --mie-window-rounded: 1.2rem;
}

.mie.dialog {
  --mie-dialog-rounded: 1.2rem;
  --mie-dialog-mh: 16rem;
  --mie-dialog-mw: 40rem;
}

.mie.dialog.small {
  --mie-dialog-mh: 16rem;
  --mie-dialog-mw: 30rem;
}

.mie.dialog.large {
  --mie-dialog-mh: 16rem;
  --mie-dialog-mw: 50rem;
}

.mie.clamp {
  --mie-clamp-container-padding-h: 1.2rem;
  --mie-clamp-container-padding-v: 1.2rem;
  --mie-clamp-size: 55rem;
}

.mie.tabs {
  --mie-tabs-pv: 0.6rem;
  --mie-tabs-ph: 0.8rem;
  --mie-tabs-rounded: 0.6rem;
}

.mie.tab {
  --mie-tab-icon-offset: 0.8rem;
  --mie-tab-pv: 0.5rem;
  --mie-tab-rounded: 0.6rem;
  --mie-tab-ph: 1.6rem;
  --mie-tab-fs: 1.4rem;
}

/*# sourceMappingURL=mielo.variants.css.map */
