@use "sass:map";

@function icon-size-mapper($sizes) {
  $map: ();

  @each $size, $value in $sizes {
    $map: map.set(
      $map,
      $size,
      (
        "size": $value,
      )
    );
  }

  @return $map;
}

$mie-icon-sizes: icon-size-mapper($mie-icon-size);

@include variants-map-to-component("icon", $mie-icon-sizes, "medium");
