.adw.progress {
  border-radius: var(--adw-progress-rounded);
  background-color: var(--adw-progress-bg);
  position: relative;

  align-items: center;
  display: flex;

  height: var(--adw-progress-size);
  width: 100%;
}
