.mie.progress {
  border-radius: var(--mie-progress-rounded);
  background-color: var(--mie-progress-bg);
  position: relative;

  align-items: center;
  display: flex;

  height: var(--mie-progress-size);
  width: 100%;
}
