@import "../../variables";

.mie.progress {
  border-radius: mvar("progress.rounded");
  background-color: mvar("progress.bg");
  position: relative;

  align-items: center;
  display: flex;

  height: mvar("progress.size");
  width: 100%;
}
