@use "../../utils" as *;

.mie.list:not(.item) {
  @include flex(column);
  list-style-type: none;
  padding: 0;

  > .mie.list.item {
    text-decoration: none;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}
