@function opacity-button-bg(
  $bg,
  $transparent: false,
  $opacity: (0.2, 0.3, 0.35)
) {
  $opacity-main: _get($opacity, 1);
  $opacity-hover: _get($opacity, 2);
  $opacity-active: _get($opacity, 1);

  @return (
    "main": rgba($bg, if($transparent, 0, $opacity-main)),
    "active": rgba($bg, $opacity-active),
    "hover": rgba($bg, $opacity-hover),
    "transparent": rgba($bg, 0)
  );
}

@function filled-button-bg($bg, $mode: "dark") {
  @return (
    "active": if(mode == "dark", darken($bg, 25%), lighten($bg, 25%)),
    "hover": if(mode == "dark", darken($bg, 15%), lighten($bg, 15%)),
    "main": $bg
  );
}
