@mixin box($width: "", $height: "") {
  @if $width != "" {
    width: $width;
  }

  @if $height != "" {
    height: $height;
  }
}

@mixin flex($direction: "", $justify-content: "", $align-items: "") {
  display: flex;

  @if $justify-content != "" {
    justify-content: $justify-content;
  }

  @if $direction != "" {
    flex-direction: $direction;
  }

  @if $align-items != "" {
    align-items: $align-items;
  }
}
