@use "sass:list";
@use "sass:meta";
@use "sass:map";

@use "../variables" as *;
@use "../mixins" as *;
@use "variants" as *;
@use "accents" as *;

$global-components-list: (
  // Components
  "text",
  "header",
  "item",
  "label",
  "activatable",
  "checkbox",
  "button",
  "toggle",
  "radio",
  "select",
  "entry",
  "slider",
  "divider",
  "image",
  "icon",
  "progress",
  "progress-bar",
  "headerbar",
  "sidebar",
  "splitview",
  "message",
  "dialog",
  "window",
  "clamp",
  "view",
  "modal",
  "list",
  "tabs",
  "tab",
  "row.item",
  "rows"
);

@mixin global-setup-scrollbar() {
  $mapper: map.get($default-accent-mappers, "scrollbar");
  $accent: map.get($default-accent-values, "scrollbar");

  @include accents-map-to-component(
    "",
    $accent,
    meta.get-function($mapper),
    $accents
  );
}

@mixin global-setup-accents($accent-themes-map) {
  @each $class in $global-components-list {
    $variant: map.get($default-variants, $class);

    @if $variant != null {
      @include variants-map-to-component($class, $variant, "medium");
    }

    $accent-defaults: map.get($default-accent-values, $class);
    $mapper: map.get($default-accent-mappers, $class);

    @if $mapper != null {
      @include accents-map-to-component(
        $class,
        if(
          $accent-defaults != null,
          $accent-defaults,
          (
            "dark": (),
            "light": (),
          )
        ),
        meta.get-function($mapper),
        $accent-themes-map
      );
    }
  }
}

@include global-setup-accents($accents);
@include global-setup-accents($accents-colors);
@include global-setup-scrollbar();
