@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-checkbox-default-colors: (
  "dark": (
    "border": rgba(#000, 0.36),
    "fg": rgba(#fff, 0.6),
    "icon-fg": rgba(#fff, 1),
    "border-active": rgba(#3584e4, 1),
    "bg": rgba(#3584e4, 1),
  ),
  "light": (
    "border": rgba(#000, 0.36),
    "fg": rgba(#000, 0.6),
    "icon-fg": rgba(#fff, 1),
    "border-active": rgba(#3584e4, 1),
    "bg": rgba(#3584e4, 1),
  ),
);

@function map-accents-to-checkbox($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  // prettier-ignore
  @return (
    "border-active": rgba($bg, 1), 
    "bg": rgba($bg, 1)
  );
}

@include accents-map-to-component(
  "checkbox",
  $mie-checkbox-default-colors,
  meta.get-function("map-accents-to-checkbox"),
  $mie-accents-by-theme
);
