.mie.checkbox {
  display: inline-block;
  position: relative;
  cursor: pointer;

  > .input {
    display: none;
  }

  > .label {
    position: relative;

    align-items: center;
    display: flex;

    > .content {
      font-size: var(--mie-checkbox-fs);
      color: var(--mie-checkbox-fg);
      font-weight: 400;

      margin-left: var(--mie-checkbox-content-space);
    }
  }
}

// Default checkbox style
.mie.checkbox {
  --mie-checkbox-rounded: 0.6rem;

  > .label {
    > .indicator {
      border: 0.2rem solid var(--mie-checkbox-border);
      border-radius: var(--mie-checkbox-rounded);
      background-color: rgba(0, 0, 0, 0);
      display: block;

      transition:
        background 0.3s ease,
        width 0.3s ease,
        height 0.3s ease;

      height: var(--mie-checkbox-size);
      width: var(--mie-checkbox-size);

      > .icon {
        > svg {
          color: var(--mie-checkbox-icon-fg);
          transition: color 0.2s ease;

          margin: var(--mie-checkbox-icon-offset);
          height: var(--mie-checkbox-icon-size);
          width: var(--mie-checkbox-icon-size);

          opacity: 0;
        }
      }
    }
  }

  // When checked
  .input:checked + .label {
    > .indicator {
      border-color: var(--mie-checkbox-border-active);
      background-color: var(--mie-checkbox-bg);

      > .icon {
        > svg {
          opacity: 1;
        }
      }
    }
  }

  // Circular checkbox style
  &.circular {
    > .label > .indicator {
      border-radius: 50%;
    }
  }
}
