@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-scrollbar-default-colors: (
  "dark": (
    "scroll-thumb-bg": rgba(#fff, 0.15),
    "scroll-track-bg": rgba(#fff, 0),
  ),
  "light": (
    "scroll-thumb-bg": rgba(#000, 0.15),
    "scroll-track-bg": rgba(#000, 0),
  ),
);

@function map-accents-to-scrollbar($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  // prettier-ignore
  @return (
    "scroll-track-bg": rgba($bg, 0.02),
    "scroll-thumb-bg": rgba($bg, 0.15), 
  );
}

@include accents-map-to-component(
  "",
  $mie-scrollbar-default-colors,
  meta.get-function("map-accents-to-scrollbar"),
  $mie-accents-by-theme
);
