.mie.headerbar {
  // prettier-ignore
  background-image:
        linear-gradient(
            var(--mie-headerbar-bg-overlay),
            var(--mie-headerbar-bg-overlay)
        ),
        linear-gradient(
            var(--mie-headerbar-bg-main),
            var(--mie-headerbar-bg-main)
        );

  position: relative;

  justify-content: space-between;
  align-items: center;

  flex-direction: row;
  display: flex;

  padding: 0 var(--mie-headerbar-ph);
  height: var(--mie-headerbar-size);
  width: 100%;

  &.transparent {
    --mie-headerbar-bg-main: transparent;
  }

  &.bordered {
    border-bottom: 0.1rem solid var(--mie-headerbar-border);
  }

  .left,
  .right {
    align-items: center;
    display: flex;
    flex: 1;
  }

  .left {
    justify-content: flex-start;
  }

  .right {
    justify-content: flex-end;
  }

  > .center {
    max-width: 20rem;
    width: 20rem;

    justify-content: center;
    align-items: center;
    display: flex;

    .mie.header.attached {
      .title {
        margin-bottom: 0.2rem;
      }
    }
  }
}
