$mie-text-default-colors: (
  "dark": (
    "inverted-fg-muted": rgba(#000, 0.65),
    "inverted-fg": rgba(#000, 0.8),
    "fg-muted": rgba(#fff, 0.65),
    "fg": #fff,
  ),
  "light": (
    "inverted-fg-muted": rgba(#fff, 0.65),
    "inverted-fg": #fff,
    "fg-muted": rgba(#000, 0.65),
    "fg": rgba(#000, 0.8),
  ),
);

@function map-accents-to-text($theme, $accent, $colors) {
  $color: _get($colors, "color");
  $bg: _get($colors, "bg");

  @return ("fg": $color);
}

@include accents-map-to-component(
  "text",
  $mie-text-default-colors,
  map-accents-to-text
);

// Globals
@each $theme, $props in $mie-text-default-colors {
  $flat: map-flatten($props);

  $selector: if(
    $theme == "dark",
    '[data-theme="dark"]',
    ':root, [data-theme="light"]'
  );

  #{$selector} {
    @each $item in $flat {
      $value: _get($item, 2);
      $keys: _get($item, 1);
      $key: _join($keys, "-");

      --mie-#{$key}: #{$value};
    }
  }
}
