.mie.text {
  font-size: var(--mie-text-fs);
  color: var(--mie-text-fg);
  line-height: 1.2;

  &.muted {
    color: var(--mie-text-fg-muted) !important;
  }

  &.invert {
    color: var(--mie-text-inverted-fg) !important;

    &.muted {
      color: var(--mie-text-inverted-fg-muted) !important;
    }
  }

  &.center {
    text-align: center;
  }

  &.bold {
    font-weight: 700;
  }

  &.semibold {
    font-weight: 500;
  }

  &.regular {
    font-weight: 400;
  }

  &.light {
    font-weight: 300;
  }
}
