@use "../../utils" as *;

:root {
  --mie-h4-fs: #{mie-text-fs(medium)};
  --mie-h3-fs: #{mie-text-fs(large)};
  --mie-h2-fs: #{mie-text-fs(big)};
  --mie-h1-fs: #{mie-text-fs(huge)};
}

h1.mie.text.title,
h2.mie.text.title,
h3.mie.text.title,
h4.mie.text.title {
  color: var(--mie-text-fg);
  font-weight: 800;

  margin-bottom: 1.2rem;
  margin-top: 0;
}

h1,
h1.mie.title,
.mie.title.h1 {
  font-size: var(--mie-h1-fs);
}

h2,
h2.mie.title,
.mie.title.h2 {
  font-size: var(--mie-h2-fs);
}

h3,
h3.mie.title,
.mie.title.h3 {
  font-size: var(--mie-h3-fs);
}

h4,
h4.mie.title,
.mie.title.h4 {
  font-size: var(--mie-h4-fs);
}

.mie.text {
  font-size: var(--mie-text-fs);
  color: var(--mie-text-fg);
  font-weight: 400;

  &.center {
    text-align: center;
  }

  &.mie.paragraph {
    margin-bottom: 1.2rem;
    margin-top: 0;
  }

  &.bold {
    font-weight: 700;
  }

  &.semibold {
    font-weight: 500;
  }
}
