@use "../../variables" as *;

.mie.text {
  font-size: mvar("text.fs");
  color: mvar("text.fg");
  line-height: 1.2;

  &.muted {
    color: mvar("text.fg.muted", true);
  }

  &.invert {
    color: mvar("text.inverted.fg", true);

    &.muted {
      color: mvar("text.inverted.fg.muted", true);
    }
  }

  &.center {
    text-align: center;
  }

  &.bold {
    font-weight: 700;
  }

  &.semibold {
    font-weight: 500;
  }

  &.regular {
    font-weight: 400;
  }

  &.light {
    font-weight: 300;
  }
}
