@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-toggle-default-colors: (
  "dark": (
    "border": rgba(#000, 0.36),
    "fg": rgba(#fff, 0.6),
    "icon-fg": rgba(#fff, 1),
    "bg": (
      "active": #3584e4,
      "inactive": #bebebe,
    ),
  ),
  "light": (
    "border": rgba(#000, 0.36),
    "fg": rgba(#000, 0.6),
    "icon-fg": rgba(#fff, 1),
    "bg": (
      "active": #3584e4,
      "inactive": #bebebe,
    ),
  ),
);

@function map-accents-to-toggle($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  @return (
    "bg": (
      "inactive": #bebebe,
      "active": $bg,
    )
  );
}

@include accents-map-to-component(
  "toggle",
  $mie-toggle-default-colors,
  meta.get-function("map-accents-to-toggle"),
  $mie-accents-by-theme
);
