$mie-toggle-default-colors: (
  "dark": (
    "border": #{rgba(#000, 0.36)},
    "label-fg": #{rgba(#fff, 0.6)},
    "icon-fg": #{rgba(#fff, 1)},

    "bg": (
      "active": #3584e4,
      "inactive": #bebebe,
    ),
  ),
  "light": (
    "border": #{rgba(#000, 0.36)},
    "label-fg": #{rgba(#000, 0.6)},
    "icon-fg": #{rgba(#fff, 1)},

    "bg": (
      "active": #3584e4,
      "inactive": #bebebe,
    ),
  ),
);

@function map-accents-to-toggle($theme, $accent, $colors) {
  $color: _get($colors, "color");
  $bg: _get($colors, "bg");

  @return (
    "bg": (
      "inactive": #bebebe,
      "active": $bg,
    )
  );
}

@include accents-map-to-component(
  "toggle",
  $mie-toggle-default-colors,
  map-accents-to-toggle,
  _omit($mie-accents-by-theme, "accent")
);
