.mie.toggle {
  display: inline-block;
  position: relative;
  cursor: pointer;

  > .input {
    display: none;
  }

  > .label {
    position: relative;

    align-items: center;
    display: flex;

    > .content {
      font-size: var(--mie-toggle-label-fs);
      color: var(--mie-toggle-label-fg);
      font-weight: 400;

      margin-left: var(--mie-toggle-content-margin);
    }
  }
}

.mie.toggle {
  > .label {
    > .indicator {
      background-color: var(--mie-toggle-bg-inactive);
      border-radius: var(--mie-toggle-rounded);

      transition: background-color 0.2s ease;
      position: relative;
      display: block;

      height: var(--mie-toggle-height);
      width: var(--mie-toggle-width);

      > .dot {
        box-shadow: 0rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.3);
        transition: transform 0.3s;
        background-color: #fff;
        border-radius: 50%;

        position: absolute;
        z-index: 10;

        height: var(--mie-toggle-indicator-height);
        width: var(--mie-toggle-indicator-width);

        left: var(--mie-toggle-indicator-offset-h);
        top: var(--mie-toggle-indicator-offset-v);

        justify-content: center;
        align-items: center;
        display: flex;

        > .icon {
          > svg {
            max-height: var(--mie-toggle-indicator-icon-size);
            max-width: var(--mie-toggle-indicator-icon-size);

            height: var(--mie-toggle-indicator-icon-size);
            width: var(--mie-toggle-indicator-icon-size);

            color: var(--mie-toggle-indicator-icon-color);
          }
        }
      }

      > .icon.layout {
        position: absolute;

        height: 100%;
        width: 100%;

        z-index: 8;

        svg {
          max-height: var(--mie-toggle-indicator-icon-size);
          max-width: var(--mie-toggle-indicator-icon-size);

          height: var(--mie-toggle-indicator-icon-size);
          width: var(--mie-toggle-indicator-icon-size);

          color: var(--mie-toggle-indicator-icon-fg);
        }

        .checked,
        .unchecked {
          height: var(--mie-toggle-indicator-height);
          width: var(--mie-toggle-indicator-width);
          position: absolute;

          justify-content: center;
          align-items: center;
          display: flex;
        }

        .checked {
          top: var(--mie-toggle-indicator-offset-v);
          left: 0;
        }

        .unchecked {
          top: var(--mie-toggle-indicator-offset-v);
          right: 0;
        }
      }
    }
  }

  // When checked
  .input:checked + .label {
    > .indicator {
      background-color: var(--mie-toggle-bg-active);

      > .dot {
        transform: translateX(var(--mie-toggle-indicator-active-offset));
      }
    }
  }
}
