@use "sass:map";

@use "../../sizes" as *;

@function icon-size-mapper($sizes) {
  $map: ();

  @each $size, $value in $sizes {
    $map: map.set(
      $map,
      $size,
      (
        "fs": $value,
      )
    );
  }

  @return $map;
}

$icon-sizes: icon-size-mapper($icon-size) !default;
