@use "sass:list";
@use "sass:map";
@use "sass:meta";

// in:
//   $theme: ("dark" | "light")                  | name for access to core declaration styles
//   $default: vars_map                          | initial default variables
//   $cb: ($theme, $accent, $colors) -> vars_map | callback that returns appearance variables
// out: map<accent_name, vars_map>               | its map with mapped variables by accent
@function SEPARATE_accents-map-to-vars(
  $accents-by-theme,
  $theme,
  $default,
  $cb
) {
  $accents: _get($accents-by-theme, $theme);
  $map: (
    "default": $default,
  );

  @each $accent, $colors in $accents {
    $vars: _exec($cb, $theme, $accent, $colors);
    $map: map.set($map, $accent, $vars);
  }

  @return $map;
}

// in:
//   $name: string                               | component name in kebab-case
//   $theme-vars-map: map<accent_name, vars_map> | component variables by accent
// out: component css variables by accent
@mixin SEPARATE_accents-expand-mapped-vars($name, $theme-vars-map) {
  @each $accent, $vars in $theme-vars-map {
    $flat: map-flatten($vars);

    @each $item in $flat {
      $key: _join(_get($item, 1), "-");
      $value: _get($item, 2);

      --mie-#{$name}-#{$accent}-#{$key}: #{$value};
    }
  }
}

@mixin SEPARATE_accents-assign-to-component($class, $theme-vars-map) {
  $name: _kebab-case($class);

  @each $accent, $vars in $theme-vars-map {
    $class-ext: if($accent != "default", "." + $accent, "");
    $flat: map-flatten-keys($vars);

    .mie.#{$class}#{$class-ext} {
      @each $key in $flat {
        $key: _join($key, "-");

        --mie-#{$name}-#{$key}: var(--mie-#{$name}-#{$accent}-#{$key});
      }
    }
  }
}

// in:
//   $class: string                              | target component class name
//   $default: (dark: vars_map, light: vars_map) | default variables for component
//   $cb: ($theme, $accent, $colors) -> vars_map | callback that returns appearance variables
// out: declare accent vars for component, and apperance
@mixin SEPARATE_accents-map-to-component(
  $class,
  $default,
  $cb,
  $accents-by-theme: $mie-accents-by-theme
) {
  $name: _kebab-case($class);

  $light: SEPARATE_accents-map-to-vars(
    $accents-by-theme,
    "light",
    _get($default, "light"),
    $cb
  );
  $dark: SEPARATE_accents-map-to-vars(
    $accents-by-theme,
    "dark",
    _get($default, "dark"),
    $cb
  );

  :root,
  [data-theme="light"] {
    @include SEPARATE_accents-expand-mapped-vars($name, $light);
  }

  [data-theme="dark"] {
    @include SEPARATE_accents-expand-mapped-vars($name, $dark);
  }

  @include SEPARATE_accents-assign-to-component($class, $light);
}
