$mie-radio-default-colors: (
  "dark": (
    "border-active": rgba(#1a5fb4, 1),
    "bg": rgba(#3584e4, 1),
    "fg": rgba(#fff, 0.6),
  ),
  "light": (
    "border-active": rgba(#1a5fb4, 1),
    "bg": rgba(#3584e4, 1),
    "fg": rgba(#000, 0.6),
  ),
);

@function map-accents-to-radio($theme, $accent, $colors) {
  $color: _get($colors, "color");
  $bg: _get($colors, "bg");

  // prettier-ignore
  @return (
    "border-active": rgba(darken($bg, 15%), 1), 
    "bg": rgba($bg, 1),
  );
}

@include accents-map-to-component(
  "radio",
  $mie-radio-default-colors,
  map-accents-to-radio,
  _omit($mie-accents-by-theme, "accent")
);
