@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-row-item-default-colors: (
  "light": (
    "overlay": transparent,
    "bg": #ebebeb,
  ),
  "dark": (
    "overlay": transparent,
    "bg": #343434,
  ),
);

$mie-rows-default-colors: (
  "light": (
    "border": rgba(#000, 0.07),
  ),
  "dark": (
    "border": rgba(#000, 0.37),
  ),
);

@function map-accents-to-row-item($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  @return ("overlay": rgba($bg, 0.08), "outline": $color);
}

@function map-accents-to-rows($theme, $accent, $colors) {
  @return ();
}

@include accents-map-to-component(
  "row.item",
  $mie-row-item-default-colors,
  meta.get-function("map-accents-to-row-item"),
  $mie-accents-by-theme
);

@include accents-map-to-component(
  "rows",
  $mie-rows-default-colors,
  meta.get-function("map-accents-to-rows")
);
