@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../utils" as *;

// Common row for use with custom components
.mie.rows > .mie.row.item.property {
  // prettier-ignore
  background-image:
    linear-gradient(
        var("row.item.overlay"),
        var("row.item.overlay")
    ),
    linear-gradient(
        var("row.item.bg"),
        var("row.item.bg")
    );

  @include flex(row, none, center);
  padding: 0 mvar("row.item.ph");
  height: mvar("row.item.mh");

  &:last-child {
    border-bottom: none;
  }
}
