@use "../../variables" as *;
@use "../../utils" as *;

.mie.rows {
  background-color: mvar("rows.bg");
  background-clip: padding-box;
  position: relative;
  margin: 0;

  min-width: 20rem;
  width: 100%;

  flex-direction: column;
  display: flex;
}
