@use "../../variables" as *;

.mie.tooltip {
  border: 0.1rem solid mvar("tooltip.shade");
  background-color: mvar("tooltip.bg");
  color: mvar("tooltip.fg");

  > .content {
    font-size: mvar("tooltip.fs");
    flex-direction: column;
    display: flex;
  }
}
