$adw-dialog-default-colors: (
  "dark": (
    "action-border": rgba(#fff, 0.07),
    "bg": #383838,
  ),
  "light": (
    "action-border": rgba(#000, 0.07),
    "bg": #fafafa,
  ),
);

@function map-accents-to-dialog($theme, $accent, $colors) {
  $color: _get($colors, "color");
  $bg: _get($colors, "bg");

  @return ("bg": if($theme == "light", lighten($bg, 30%), darken($bg, 30%)));
}

@include accents-map-to-component(
  "dialog",
  $adw-dialog-default-colors,
  map-accents-to-dialog,
  _omit($adw-accents-by-theme, "accent")
);
