.adw.dialog {
  border-radius: var(--adw-dialog-rounded);
  background-color: var(--adw-dialog-bg);

  min-height: var(--adw-dialog-min-height);
  max-width: var(--adw-dialog-width);
  width: var(--adw-dialog-width);

  justify-content: space-between;
  flex-direction: column;
  display: flex;

  padding: var(--adw-dialog-padding-v) 0;
  padding-bottom: 0;

  &.attached.attached-modal {
    margin-top: -35%;
  }

  // Custom integration style for dialog header
  > .adw.header.attached.attached-dialog {
    padding: var(--adw-dialog-padding-v) var(--adw-dialog-padding-h);
    padding-bottom: 0;
  }

  > .content {
    flex-direction: column;
    display: flex;

    padding: 0 var(--adw-dialog-padding-h);
    flex: 1;
  }

  > .adw.buttons.actions {
    border-top: 0.1rem solid var(--adw-dialog-action-border);

    > .adw.button {
      border-right: 0.1rem solid var(--adw-dialog-action-border);

      &:first-child {
        border-bottom-left-radius: var(--adw-dialog-rounded);
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: var(--adw-dialog-rounded);
        border-top-right-radius: 0;
        border-right: none;
      }
    }
  }
}
