@use "../variables" as *;

.mie.dialog {
  border-radius: mvar("dialog.rounded");
  background-color: mvar("dialog.bg");

  min-height: mvar("dialog.mh");
  min-width: mvar("dialog.mw");

  justify-content: space-between;
  flex-direction: column;
  display: flex;

  &.attached.attached-modal {
    margin-top: -35%;
  }

  > .content {
    flex-direction: column;
    display: flex;
    flex: 1;
  }

  > .mie.buttons.actions {
    border-top: 0.1rem solid mvar("dialog.action.border");

    > .mie.button {
      border-right: 0.1rem solid mvar("dialog.action.border");

      &:first-child {
        border-bottom-left-radius: mvar("dialog.rounded");
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: mvar("dialog.rounded");
        border-top-right-radius: 0;
        border-right: none;
      }
    }
  }
}
