.mie.dialog {
  border-radius: var(--mie-dialog-rounded);
  background-color: var(--mie-dialog-bg);

  min-height: var(--mie-dialog-mh);
  min-width: var(--mie-dialog-mw);

  justify-content: space-between;
  flex-direction: column;
  display: flex;

  &.attached.attached-modal {
    margin-top: -35%;
  }

  > .content {
    flex-direction: column;
    display: flex;
    flex: 1;
  }

  > .mie.buttons.actions {
    border-top: 0.1rem solid var(--mie-dialog-action-border);

    > .mie.button {
      border-right: 0.1rem solid var(--mie-dialog-action-border);

      &:first-child {
        border-bottom-left-radius: var(--mie-dialog-rounded);
        border-top-left-radius: 0;
      }

      &:last-child {
        border-bottom-right-radius: var(--mie-dialog-rounded);
        border-top-right-radius: 0;
        border-right: none;
      }
    }
  }
}
