@use "../variables" as *;

.mie.view {
  --mie-view-bg: transparent;
  background-color: mvar("view.bg");

  // Background appearance
  &.panel {
    --mie-view-bg: mvar("view.panel");
  }

  &.windows {
    --mie-view-bg: mvar("view.window");
  }

  &.content {
    --mie-view-bg: mvar("view.content");
  }

  &.osd {
    --mie-view-bg: mvar("view.osd");
  }

  // Sizings
  &.fluid {
    width: 100%;
  }

  &.scrollable {
    overflow: auto;
  }
}
