.mie.view {
  --mie-view-bg: transparent;

  background-color: var(--mie-view-bg);

  // Background appearance
  &.panel {
    --mie-view-bg: var(--mie-view-panel);
  }

  &.windows {
    --mie-view-bg: var(--mie-view-window);
  }

  &.content {
    --mie-view-bg: var(--mie-view-content);
  }

  &.osd {
    --mie-view-bg: var(--mie-view-osd);
  }

  // Sizings
  &.fluid {
    width: 100%;
  }

  &.scrollable {
    overflow: auto;
  }
}
