.mie.flex {
  flex-direction: row;
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-content {
    &-center {
      justify-content: center !important;
    }
    &-start {
      justify-content: flex-start !important;
    }
    &-end {
      justify-content: flex-end !important;
    }
    &-stretch {
      justify-content: stretch !important;
    }
  }

  &.align-items {
    &-center {
      align-items: center !important;
    }
    &-start {
      align-items: flex-start !important;
    }
    &-end {
      align-items: flex-end !important;
    }
    &-stretch {
      align-items: stretch !important;
    }
  }

  &.flex-1 {
    flex: 1 !important;
  }
}
