.mie.f {
  flex-direction: row !important;
  display: flex !important;

  &.fr {
    flex-direction: row !important;
  }

  &.fc {
    flex-direction: column !important;
  }

  &.fjc {
    &-center {
      justify-content: center !important;
    }
    &-start {
      justify-content: flex-start !important;
    }
    &-end {
      justify-content: flex-end !important;
    }
    &-stretch {
      justify-content: stretch !important;
    }
  }

  &.fai {
    &-center {
      align-items: center !important;
    }
    &-start {
      align-items: flex-start !important;
    }
    &-end {
      align-items: flex-end !important;
    }
    &-stretch {
      align-items: stretch !important;
    }
  }

  &.fw {
    flex-wrap: wrap !important;
  }

  &.f1 {
    flex: 1 !important;
  }
}
