// Padding class worked for all containers (with prefix)
.mie {
  @each $indent-type in ("padding", "margin") {
    $indent-short-key: _get($indent-type, 1); // get "p" or "m"

    // indent for all sides.
    @each $name, $size in $mie-indent-size {
      $size-postfix: if($name != "medium", "-" + $name, "");
      $class-name: $indent-short-key + $size-postfix;

      &.#{$class-name} {
        #{$indent-type}: $size;
      }
    }

    // horizontally & vertically sides
    @each $side in ("horizontal", "vertical") {
      $side-short-key: _get($side, 1);

      @each $name, $size in $mie-indent-size {
        $size-postfix: if($name != "medium", "-" + $name, "");

        $start: $indent-type + "-" + if($side == "horizontal", "left", "top");
        $end: $indent-type + "-" + if($side == "horizontal", "right", "bottom");
        $class-name: $indent-short-key + $side-short-key + $size-postfix;

        &.#{$class-name} {
          #{$start}: $size !important;
          #{$end}: $size !important;
        }
      }
    }

    // directly side
    @each $side in ("top", "right", "bottom", "left") {
      $side-short-key: _get($side, 1);

      @each $name, $size in $mie-indent-size {
        $size-postfix: if($name != "medium", "-" + $name, "");
        $class-name: $indent-short-key + $side-short-key + $size-postfix;

        &.#{$class-name} {
          #{$indent-type}-#{$side}: $size !important;
        }
      }
    }
  }
}
