@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-shadow-states: (
  "dark": (
    "inner": 0 0.2rem 2.5rem 0 rgba(#000, 0.05) inset,
    "outer": (
      0 0 0 0.1rem rgba(#000, 0.03),
      0 0.1rem 0.3rem 0.1rem rgba(#000, 0.07),
      0 0.2rem 0.6rem 0.2rem rgba(#000, 0.03),
    ),
  ),
  "light": (
    "inner": 0 0.2rem 2.5rem 0 rgba(#000, 0.05) inset,
    "outer": (
      0 0 0 0.1rem rgba(#000, 0.03),
      0 0.1rem 0.3rem 0.1rem rgba(#000, 0.07),
      0 0.2rem 0.6rem 0.2rem rgba(#000, 0.03),
    ),
  ),
);

.mie.shadow {
  box-shadow: var(--mie-shadow-outer);

  &.outer {
    box-shadow: var(--mie-shadow-outer);
  }

  &.inner {
    box-shadow: var(--mie-shadow-inner);
  }
}

@function map-accents-to-shadow($theme, $accent, $colors) {
  $bg: map.get($colors, "bg");

  @return (
    "inner": 0 0.2rem 2.5rem 0 rgba($bg, 0.05) inset,
    "outer": (
      0 0 0 0.1rem rgba($bg, 0.03),
      0 0.1rem 0.3rem 0.1rem rgba($bg, 0.07),
      0 0.2rem 0.6rem 0.2rem rgba($bg, 0.03),
    )
  );
}

@include accents-map-to-component(
  "shadow",
  $mie-shadow-states,
  meta.get-function("map-accents-to-shadow"),
  $mie-accents-by-theme
);
