$mie-empty-accents-by-theme: (
  "light": (),
  "dark": (),
);

$mie-accents-by-theme: (
  "light": (
    "accent": (
      "color": mie-color("blue", 4),
      "bg": mie-color("blue", 3),
      "fg": white,
    ),
    "success": (
      "color": #1b8553,
      "bg": mie-color("green", 4),
      "fg": white,
    ),
    "warning": (
      "color": #9c6e03,
      "bg": mie-color("yellow", 5),
      "fg": rgb(#000, 0.8),
    ),
    "error": (
      "color": mie-color("red", 4),
      "bg": mie-color("red", 3),
      "fg": white,
    ),
  ),
  "dark": (
    "accent": (
      "color": #78aeed,
      "bg": mie-color("blue", 3),
      "fg": white,
    ),
    "success": (
      "color": mie-color("green", 1),
      "bg": mie-color("green", 5),
      "fg": white,
    ),
    "warning": (
      "color": mie-color("yellow", 2),
      "bg": #cd9309,
      "fg": rgba(#000, 0.8),
    ),
    "error": (
      "color": #ff7b63,
      "bg": mie-color("red", 4),
      "fg": white,
    ),
  ),
);

@function mie-accent($accent, $color_type, $theme: "light") {
  $themes: map-get($mie-button-accents, $accent);
  $colors: map-get($themes, $theme);

  @return map-get($colors, $color_type);
}
