:root,
[data-theme="light"] {
  // Window
  --mie-window-bg: #fafafa;
  --mie-window-fg: rgba(0, 0, 0, 0.8);

  // Views - e.g. text view or tree view
  --mie-view-bg: #ffffff;
  --mie-view-fg: rgba(0, 0, 0, 0.8);

  // Cards, boxed lists
  --mie-card-bg: #ffffff;
  --mie-card-fg: rgba(0, 0, 0, 0.8);
  --mie-card-shade-color: rgba(0, 0, 0, 0.07);

  // Dialogs
  --mie-dialog-bg: #fafafa;
  --mie-dialog-fg: rgba(0, 0, 0, 0.8);

  // Popovers
  --mie-popover-bg: #ffffff;
  --mie-popover-fg: rgba(0, 0, 0, 0.8);
  --mie-popover-shade-color: rgb(0, 0, 0, 0.07);

  // Thumbnails
  --mie-thumbnail-bg: #ffffff;
  --mie-thumbnail-fg: rgba(0, 0, 0, 0.8);

  // Miscellaneous
  --mie-shade_color: rgba(0, 0, 0, 0.07);
  --mie-scrollbar-outline-color: white;
}

[data-theme="dark"] {
  // Window
  --mie-window-bg: #242424;
  --mie-window-fg: white;

  // Views - e.g. text view or tree view
  --mie-view-bg: #1e1e1e;
  --mie-view-fg: white;

  // Cards, boxed lists
  --mie-card-bg: rgba(255, 255, 255, 0.08);
  --mie-card-fg: white;
  --mie-card-shade-color: rgba(0, 0, 0, 0.36);

  // Dialogs
  --mie-dialog-bg: #383838;
  --mie-dialog-fg: white;

  // Popovers
  --mie-popover-bg: #383838;
  --mie-popover-fg: white;
  --mie-popover-shade-color: rgba(0, 0, 0, 0.25);

  // Thumbnails
  --mie-thumbnail-bg: #383838;
  --mie-thumbnail-fg: white;

  // Miscellaneous
  --mie-shade_color: rgba(0, 0, 0, 0.25);
  --mie-scrollbar-outline-color: rgba(0, 0, 0, 0.95);
}
