$mie-splitview-default-colors: (
  "light": (
    "divider-bg": rgba(#000, 0.07),
    "overlay-bg": rgba(#fff, 0.15),
    "bg": #fafafa,
  ),
  "dark": (
    "divider-bg": rgba(22, 11, 11, 0.36),
    "overlay-bg": rgba(#000, 0.1),
    "bg": #242424,
  ),
);

@function map-accents-to-splitview($theme, $accent, $colors) {
  $bg: _get($colors, "bg");
  $fg: _get($colors, "fg");

  @return ("bg": if($theme == "dark", lighten($bg, 20%), lighten($bg, 40%)));
}

@include accents-map-to-component(
  "splitview",
  $mie-splitview-default-colors,
  map-accents-to-splitview,
  $mie-accents-by-theme
);
