@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-splitview-default-colors: (
  "light": (
    "divider-bg": rgba(#000, 0.07),
    "overlay-bg": rgba(#fff, 0.3),
    "bg": #fafafa,
  ),
  "dark": (
    "divider-bg": rgba(22, 11, 11, 0.36),
    "overlay-bg": rgba(#000, 0.3),
    "bg": #242424,
  ),
);

@function map-accents-to-splitview($theme, $accent, $colors) {
  $bg: map.get($colors, "bg");
  $fg: map.get($colors, "fg");

  @return ("bg": if($theme == "dark", lighten($bg, 20%), lighten($bg, 40%)));
}

@include accents-map-to-component(
  "splitview",
  $mie-splitview-default-colors,
  meta.get-function("map-accents-to-splitview"),
  $mie-accents-by-theme
);
