.adw.flex {
  flex-direction: row;
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.justify-content {
    &-center {
      justify-content: center;
    }
    &-start {
      justify-content: flex-start;
    }
    &-end {
      justify-content: flex-end;
    }
    &-stretch {
      justify-content: stretch;
    }
  }

  &.align-items {
    &-center {
      align-items: center;
    }
    &-start {
      align-items: flex-start;
    }
    &-end {
      align-items: flex-end;
    }
    &-stretch {
      align-items: stretch;
    }
  }

  &.flex-1 {
    flex: 1;
  }
}
