@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-image-default-colors: (
  "light": (
    "border-bg": #{rgba(#000, 0.1)},
    "bg": #{rgba(#000, 0.1)},
  ),
  "dark": (
    "border-bg": #{rgba(#fff, 0.1)},
    "bg": #{rgba(#fff, 0.1)},
  ),
);

@function map-accents-to-image($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  @return ("border-bg": #{rgba($color, 0.6)}, "bg": #{rgba($color, 0.1)});
}

@include accents-map-to-component(
  "image",
  $mie-image-default-colors,
  meta.get-function("map-accents-to-image"),
  $mie-accents-by-theme
);
