@use "sass:map";

@use "../../utils" as *;

@function image-size-mapper($sizes) {
  $map: ();

  @each $size, $value in $sizes {
    $map: map.set(
      $map,
      $size,
      (
        "size": $value,
      )
    );
  }

  @return $map;
}

$mie-image-sizes: map.merge(
  image-size-mapper($mie-image-size),
  (
    "medium": (
      "border-w": 0.2rem,
    ),
  )
);

@include variants-map-to-component("image", $mie-image-sizes, "medium");
