$mie-tabs-default-colors: (
  "light": (
    "bg": rgba(#000, 0.1),
  ),
  "dark": (
    "bg": rgba(#fff, 0.1),
  ),
);

$mie-tab-default-colors: (
  "light": (
    "fg": rgba(#000, 0.8),
    "bg": opacity-button-bg(#000, true),
  ),
  "dark": (
    "fg": #fff,
    "bg": opacity-button-bg(#fff, true),
  ),
);

@function map-accents-to-tabs($theme, $accent, $colors) {
  $color: _get($colors, "color");
  $bg: _get($colors, "bg");

  // prettier-ignore
  @return (
    "bg": opacity-button-bg($bg, true),
    "fg": rgba($color, 0.8),
  );
}

@function map-accents-to-tab($theme, $accent, $colors) {
  $bg: _get($colors, "bg");

  @return ("bg": rgba($bg, 0.2));
}

@include accents-map-to-component(
  "tabs",
  $mie-tabs-default-colors,
  map-accents-to-tabs,
  $mie-accents-by-theme
);

@include accents-map-to-component(
  "tab",
  $mie-tab-default-colors,
  map-accents-to-tab,
  $mie-accents-by-theme
);
