@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../utils" as *;

.mie.tabs > .mie.tab {
  @include flex(row, center, center);
  transition: left 0.3s ease;

  padding: mvar("tab.pv") mvar("tab.ph");
  border-radius: mvar("tab.rounded");
  font-size: mvar("tab.fs");
  font-weight: 700;

  box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.03);
  background-color: var("tab.bg.main");
  color: mvar("tab.fg");

  user-select: none;
  cursor: pointer;
  z-index: 100;

  &:hover,
  &.active {
    background-color: mvar("tab.bg.hover");
  }

  &:active {
    background-color: mvar("tab.bg.active");
  }

  &.background {
    background-color: mvar("tab.bg.hover");
    position: absolute;
    z-index: 10;
    left: 0;

    height: 0;
    width: 0;
  }

  &.transparent {
    background-color: transparent;
    box-shadow: none;
  }

  > .adw.icon {
    margin-right: mvar("tab.icon.offset");
  }
}
