@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../utils" as *;

.mie.tabs {
  @include flex(row);
  position: relative;

  border-radius: mvar("tabs.rounded");
  background-color: mvar("tabs.bg");

  padding: mvar("tabs.pv") mvar("tabs.ph");

  &.transparent {
    background-color: transparent;
  }
}
