@use "../../mixins" as *;
@use "../../utils" as *;

.mie.tabs {
  @include flex(row);
  position: relative;

  border-radius: var(--mie-tabs-rounded);
  background-color: var(--mie-tabs-bg);

  padding: var(--mie-tabs-pv) var(--mie-tabs-ph);

  &.transparent {
    background-color: transparent;
  }
}
