$adw-item-default-colors: (
  "dark": (
    "description-fg": #{rgba(#fff, 0.6)},
    "title-fg": #{rgba(#fff, 1)},
  ),
  "light": (
    "description-fg": #{rgba(#000, 0.6)},
    "title-fg": #{rgba(#000, 0.8)},
  ),
);

@function map-accents-to-item($theme, $accent, $colors) {
  $color: _get($colors, "color");
  $bg: _get($colors, "bg");

  @return (
    "description-fg": #{rgba($color, 0.6)},
    "title-fg": #{rgba($color, 0.8)}
  );
}

@include accents-map-to-component(
  "item",
  $adw-item-default-colors,
  map-accents-to-item
);
