@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-activatable-default-colors: (
  "dark": (
    "bg": opacity-button-bg(#fff, true, (0.1, 0.15, 0.2)),
  ),
  "light": (
    "bg": opacity-button-bg(#000, true, (0.1, 0.15, 0.2)),
  ),
);

@function map-accents-to-activatable($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  // prettier-ignore
  @return (
    "bg": opacity-button-bg($bg, true, (0.1, 0.15, 0.2))
  );
}

@include accents-map-to-component(
  "activatable",
  $mie-activatable-default-colors,
  meta.get-function("map-accents-to-activatable"),
  $mie-accents-by-theme
);
