.mie.activatable {
  background-color: var(--mie-item-bg-main);
  transition: all 0.4s ease;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--mie-item-bg-hover) !important;
  }

  &:active {
    background-color: var(--mie-item-bg-active) !important;
  }
}

.mie.activatable.active {
  background-color: var(--mie-item-bg-hover) !important;
}
