.mie.activatable {
  background-color: var(--mie-activatable-bg-main);
  transition:
    background 0.3s ease,
    width 0.3s ease,
    height 0.3s ease;

  user-select: none;
  cursor: pointer;

  &:hover {
    background-color: var(--mie-activatable-bg-hover) !important;
  }

  &:active {
    background-color: var(--mie-activatable-bg-active) !important;
  }
}

.mie.activatable.active {
  background-color: var(--mie-activatable-bg-hover);
}
