@use "../variables" as *;
@use "../mixins" as *;
@use "./Button/base" as *;

.mie.activatable {
  -webkit-user-select: none;
  user-select: none;

  position: relative;

  & {
    @include button(
      "activatable",
      (
        "background": true,
        "indent": false,
        "text": false,
      )
    );
  }
}
