@use "../variables" as *;

.mie.icon {
  justify-content: center;
  align-items: center;
  display: flex;

  svg {
    max-height: mvar("icon.fs");
    max-width: mvar("icon.fs");
    height: mvar("icon.fs");
    width: mvar("icon.fs");
    color: mvar("icon.fg");
  }

  &.filled {
    background-color: mvar("icon.bg.filled");
  }

  &.circular {
    border-radius: 50%;
  }

  &.bg {
    background-color: mvar("icon.bg.main");
  }
}
