@use "../variables" as *;
@use "../mixins" as *;
@use "../utils" as *;

.mie.image {
  border: 0 solid mvar("image.border.bg");
  background-color: mvar("image.bg");
  background-repeat: no-repeat;
  background-size: cover;

  width: mvar("image.size");
  display: inline-block;

  &.transparent {
    --mie-image-bg: transparent;
  }

  &.bordered {
    border-width: mvar("image.border.w");
  }

  &.circular {
    border-radius: 500rem;
  }
}
