.mie.slider {
  padding: var(--mie-slider-padding-v) 0;
  display: block;

  &:not(.range) {
    .range-slider {
      &:before {
        border-radius: var(--mie-slider-height);
        background: var(--mie-slider-range-bg);
        height: var(--mie-slider-height);
        position: absolute;
        content: "";
        width: 6%;
        left: 0;
        top: 0;
      }
    }
  }

  .range-slider {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    touch-action: none;

    user-select: none;
    cursor: pointer;

    position: relative;
    display: block;

    min-width: var(--mie-slider-min-length);
    height: var(--mie-slider-height);
    min-height: auto;
    width: 100%;

    border-radius: var(--mie-slider-height);
    background: var(--mie-slider-bg-slider);

    &[data-vertical] {
      min-height: var(--mie-slider-min-length);
      width: var(--mie-slider-height);
      min-width: auto;
      height: 100%;

      .range-slider__thumb {
        left: 50%;
      }

      .range-slider__range {
        transform: translate(-50%, 0);
        left: 50%;
      }
    }

    &[data-disabled] {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .range-slider__thumb {
      border: 0.1rem solid var(--mie-slider-thumb-border);
      background: var(--mie-slider-bg-thumb);
      border-radius: 50%;

      transform: translate(-50%, -50%);
      box-sizing: border-box;
      position: absolute;
      z-index: 3;

      height: var(--mie-slider-thumb-size);
      width: var(--mie-slider-thumb-size);
      top: 50%;

      &:focus-visible {
        box-shadow: 0 0 0 6px rgba(33, 150, 243, 0.5) inset;
        outline: 0;
      }

      &[data-active] {
        box-shadow: 0px 0px 6px rgb(0, 0, 0, 0.3) inset;
      }

      &[data-disabled] {
        z-index: -1;
        opacity: 0;
      }
    }

    .range-slider__range {
      background: var(--mie-slider-bg-range);
      transform: translate(0, -50%);
      position: absolute;
      z-index: 1;

      height: 100%;
      width: 100%;
      top: 50%;
    }

    input[type="range"] {
      background-color: transparent;
      border: none;

      -webkit-appearance: none;
      pointer-events: none;
      appearance: none;

      position: absolute;
      z-index: 2;

      height: 0;
      width: 0;

      left: 0;
      top: 0;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
      }

      &::-moz-range-thumb {
        height: 0;
        border: 0;
        width: 0;
      }

      &:focus {
        outline: 0;
      }
    }
  }
}
