@use "sass:string";
@use "sass:list";

@use "../utils" as *;

@function mnvar($args...) {
  $is-important: if(list.nth($args, list.length($args)), true, false);

  @if $is-important {
    $args: drop-right($args, 1);
  }

  @if list.length($args) == 1 {
    $source: list.nth($args, 1);
    $args: split($source, ".");
  }

  // Flatten arguments
  $flatten: ();

  @each $arg in $args {
    @if string.index($arg, ".") != null {
      @each $arg in split($arg, ".") {
        $flatten: list.append($flatten, $arg);
      }
    }
  }

  $name: join($flatten, "-");
  @return "--mie-#{$name}";
}

@function mvar($args...) {
  @return "var(#{mnvar($args)})";
}
