@use "sass:list";
@use "sass:map";
@use "sass:meta";

@use "../utils" as *;
@use "./theme" as *;

// in:
//   $theme: ("dark" | "light")                  | name for access to core declaration styles
//   $default-vars: vars_map                     | initial default variables
//   $cb: ($theme, $accent, $colors) -> vars_map | callback that returns appearance variables
// out: map<accent_name, vars_map>               | its map with mapped variables by accent
@function accents-map-to-vars($accents-map, $theme, $default-vars, $cb) {
  $accents: map.get($accents-map, $theme);

  $map: (
    "default": $default-vars,
  );

  @each $accent, $colors in $accents {
    $vars: meta.call($cb, $theme, $accent, $colors);
    $map: map.set($map, $accent, $vars);
  }

  @return $map;
}

// in:
//   $name: string                               | component name in kebab-case
//   $theme-vars-map: map<accent_name, vars_map> | component variables by accent
// out: component css variables by accent
@mixin accents-expand-mapped-vars($class, $theme, $properties) {
  $name: kebab-case($class);

  @each $accent, $vars in $properties {
    $flat: map-flatten($vars);

    $accent-class: if($accent != "default", "." + $accent, "");
    $class-name: if($class != "", "." + $class, "");
    $ext: $accent-class + $class-name;

    @each $item in $flat {
      $value: list.nth($item, 2);
      $keys: list.nth($item, 1);
      $key: join($keys, "-");

      $name-prop: if($name != "", "-#{$name}", "");

      --mie#{$name-prop}-#{$key}: #{$value};
    }
  }
}

// in:
//   $class: string                              | target component class name
//   $default-vars: (dark: vars_map, light: vars_map) | default variables for component
//   $cb: ($theme, $accent, $colors) -> vars_map | callback that returns appearance variables
// out: declare accent vars for component, and apperance
$default-accents-map: (
  "light": (),
  "dark": (),
);

@mixin accents-map-to-component(
  $class,
  $default-vars,
  $cb,
  $default-theme,
  $accents-map: $default-accents-map
) {
  @each $theme in ("light", "dark") {
    $theme-default-vars: map.get($default-vars, $theme);

    $properties: accents-map-to-vars(
      $accents-map,
      $theme,
      $theme-default-vars,
      $cb
    );

    @each $accent, $vars in $properties {
      $flat: map-flatten($vars);

      $accent-class: if($accent != "default", "." + $accent, "");
      $class-name: if($class != "", "." + $class, "");
      $ext: $class-name + $accent-class;

      @include with-theme($theme, $ext, $default-theme) {
        @each $item in $flat {
          $value: list.nth($item, 2);
          $keys: list.nth($item, 1);
          $key: join($keys, "-");

          $name: kebab-case($class);
          $name-prop: if($name != "", "-#{$name}", "");

          --mie#{$name-prop}-#{$key}: #{$value};
        }
      }
    }
  }
}
