@use "sass:list";

@mixin box($width: "", $height: "") {
  @if $width != "" {
    width: $width;
  }

  @if $height != "" {
    height: $height;
  }
}

@mixin flex(
  $direction: none,
  $justify-content: none,
  $align-items: none,
  $display: none
) {
  display: flex;

  @if $justify-content != none {
    justify-content: $justify-content;
  }

  @if $direction != none {
    flex-direction: $direction;
  }

  @if $align-items != none {
    align-items: $align-items;
  }

  @if $display != none {
    display: $display;
  }
}

@mixin not-many($class, $not) {
  $selector: "";

  @each $n in $not {
    $selector: $selector + ":not(.#{$n})";
  }

  #{$class}#{$selector} {
    @content;
  }
}
