@mixin mie-default-theme($with-class) {
  $theme-attr: "[data-theme=light]";
  $selector: ":root, #{$theme-attr}";

  $selector: if(
    $with-class,
    "#{$selector}, #{with-class}#{$theme-attr}",
    $selector
  );

  #{$selector} {
    @content;
  }
}

@mixin mie-dark-theme() {
  $theme-attr: "[data-theme=dark]";
  
  $selector: if(
    $with-class,
    "#{$selector}, #{with-class}#{$theme-attr}",
    $theme-attr
  );

  #{$selector} {
    @content;
  }
}
