.mie.scrollable-view {
  .rcs-custom-scrollbar {
    right: var(--mie-scrollbar-offset);
    width: var(--mie-scrollbar-width);
  }

  .rcs-inner-handle {
    background-color: var(--mie-scrollbar-default-color) !important;
    border-radius: var(--mie-scrollbar-width);
  }
}
