:root,
[data-theme="light"] {
  --mie-scrollbar-default-color: 0, 0, 0;

  --mie-scrollbar-bg: rgba(var(--mie-scrollbar-default-color), 0.15);
}

[data-theme="dark"] {
  --mie-scrollbar-default-color: 255, 255, 255;

  --mie-scrollbar-bg: rgba(var(--mie-scrollbar-default-color), 0.15);
}

:root,
[data-theme="light"],
[data-theme="dark"] {
  --mie-scrollbar-width: 0.4rem;
  --mie-scrollbar-offset: 0.4rem;
}
