@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../utils" as *;

.mie.window-controls {
  @include flex(row, flex-end, center);

  > .mie.button {
    margin-right: indent(tiny);

    &:last-child {
      margin-right: 0;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}
