@use "../../variables" as *;
@use "../../mixins" as *;
@use "../../utils" as *;

.mie.window {
  // prettier-ignore
  background-image:
    linear-gradient(
        mvar("window.bg.overlay"),
        mvar("window.bg.overlay")
    ),
    linear-gradient(
        mvar("window.bg.main"),
        mvar("window.bg.main")
    );

  border-radius: mvar("window.rounded");
  background-color: mvar("window.bg");
  overflow: hidden;
  height: 100%;
  width: 100%;

  @include flex(column);

  &.transparent {
    --mie-window-bg: transparent;
  }
}
