@use "sass:map";

@use "../sizes" as *;

@function image-size-mapper($sizes) {
  $map: ();

  @each $size, $value in $sizes {
    $map: map.set(
      $map,
      $size,
      (
        "size": $value,
      )
    );
  }

  @return $map;
}

$image-sizes: map.merge(
  image-size-mapper($image-size),
  (
    "medium": (
      "border-w": 0.2rem,
    ),
  )
) !default;
