:root,
[data-theme="light"] {
  --mie-modal-default-color: 0, 0, 0;
}

[data-theme="dark"] {
  --mie-modal-default-color: 255, 255, 255;
}

:root,
[data-theme="light"],
[data-theme="dark"] {
  --mie-modal-overlay-bg: rgba(var(--mie-modal-default-color), 0.3);
}
