:root,
[data-theme="light"] {
  // @TODO
}

[data-theme="dark"] {
  // @TODO
}

:root,
[data-theme="light"],
[data-theme="dark"] {
  --mie-h4-fs: #{mie-text-fs(medium)};
  --mie-h3-fs: #{mie-text-fs(large)};
  --mie-h2-fs: #{mie-text-fs(big)};
  --mie-h1-fs: #{mie-text-fs(huge)};

  --mie-text-fs: #{mie-text-fs(medium)};
}
