.mie.label {
  padding: var(--mie-label-pv) var(--mie-label-ph);
  border-radius: var(--mie-label-rounded);
  background-color: var(--mie-label-bg);
  font-size: var(--mie-label-fs);
  color: var(--mie-label-fg);
  transition: all 0.1s ease;
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  font-weight: 700;

  &.circular {
    vertical-align: middle;
    align-content: center;
    border-radius: 500rem;
  }

  &.transparent {
    --mie-label-fg: var(--mie-label-bg) !important;
    background-color: transparent !important;
  }

  &.bordered {
    border: var(--mie-label-border-w) solid var(--mie-label-border-bg);
  }

  &.floating {
    white-space: nowrap;
    position: absolute;
    z-index: 100;

    transform: translateX(50%);
    top: -1rem;
    right: 0;

    &.ftl {
      transform: translateX(-50%);
      right: auto;
      top: -1rem;
      left: 0;
    }

    &.ftr {
      transform: translateX(50%);
      top: -1rem;
      right: 0;
    }

    &.fbl {
      transform: translateX(-50%);
      bottom: -1rem;
      right: auto;
      left: 0;
    }

    &.fbr {
      transform: translateX(50%);
      bottom: -1rem;
      right: 0;
    }
  }
}
