@use "sass:map";

@use "../../../mixins" as *;
@use "../../../utils" as *;
@use "../../palette" as *;
@use "../../text" as *;

$splitview-default-accent: (
  "light": (
    "divider-bg": rgba(#000, 0.07),
    "overlay-bg": rgba(#000, 0.4),
    "bg": (
      "overlay": transparent,
      "main": #fafafa,
    ),
  ),
  "dark": (
    "divider-bg": rgba(#160b0b, 0.36),
    "overlay-bg": rgba(#000, 0.4),
    "bg": (
      "overlay": transparent,
      "main": #242424,
    ),
  ),
) !default;

@function map-to-splitview($theme, $accent, $colors) {
  $bg: map.get($colors, "bg");
  $overlay: rgba($bg, 0.07);

  @return (
    "bg": (
      "overlay": $overlay,
    )
  );
}
