@import "../../variables";

.mie.select {
  $menu-offset: 0.6rem;
  $menu-height: 12rem;

  > .menu {
    // prettier-ignore
    background-image:
      linear-gradient(
          mvar("select.bg.overlay"),
          mvar("select.bg.overlay")
      ),
      linear-gradient(
          mvar("select.bg.menu"),
          mvar("select.bg.menu")
      );

    transition:
      height 0.2s ease,
      top 0.2s ease;

    border-radius: mvar("select.rounded");
    overflow: hidden;

    position: absolute;
    height: 0;
    top: 0;

    z-index: 15;

    &.opened {
      top: calc(#{mvar("select.height")} + $menu-offset);
      height: $menu-height;
      overflow-y: auto;
    }
  }
}
