@use "../../variables";
@use "../../utils" as *;

.mie.select {
  position: relative;
  margin: 0;

  min-width: mvar("select.min.width");

  // Show outline when focused
  &.opened,
  &:focus {
    > .content {
      > .base {
        outline-width: 0.2rem;
      }
    }
  }

  > .content {
    height: mvar("select.height");
    position: relative;
    width: 100%;
  }

  > .menu {
    background-color: mvar("select.bg.main");
    transition: height 0.3s ease;
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
  }
}
