@use "sass:map";

$mie-text-size: (
  "mini": 0.8rem,
  "tiny": 1rem,
  "small": 1.2rem,
  "medium": 1.4rem,
  "large": 1.6rem,
  "big": 2rem,
  "huge": 2.3rem,
  "massive": 2.6rem,
);

$mie-icon-size: (
  "mini": 0.4rem,
  "tiny": 0.8rem,
  "small": 1.2rem,
  "medium": 1.6rem,
  "large": 2rem,
  "big": 2.4rem,
  "huge": 2.8rem,
  "massive": 3.2rem,
);

$mie-image-size: (
  "mini": 3.4rem,
  "tiny": 8rem,
  "small": 15rem,
  "medium": 30rem,
  "large": 45rem,
  "big": 60rem,
  "huge": 80rem,
  "massive": 96rem,
);

$mie-rounded-size: (
  "none": 0rem,
  "tiny": 0.2rem,
  "small": 0.4rem,
  "medium": 0.6rem,
  "large": 1.2rem,
);

// margin/padding for views
$mie-indent-size: (
  "none": 0rem,
  "mini": 0.4rem,
  "tiny": 0.6rem,
  "small": 0.8rem,
  "medium": 1rem,
  "large": 1.2rem,
  "big": 1.6rem,
  "huge": 2rem,
  "massive": 2.4rem,
);

@function mie-text-fs($name: medium) {
  @return _get($mie-text-size, quote($name));
}

@function mie-icon-size($name: medium) {
  @return _get($mie-icon-size, quote($name));
}

@function mie-indent-size($name: medium) {
  @return _get($mie-indent-size, quote($name));
}

@function mie-rounded($name: medium) {
  @return _get($mie-rounded-size, quote($name));
}
