@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-message-default-colors: (
  "light": (
    "description-fg": rgba(#000, 0.6),
    "title-fg": rgba(#000, 0.8),
    "shade": rgba(#000, 0.05),
    "overlay": transparent,
    "bg": #ebebeb,
  ),
  "dark": (
    "description-fg": rgba(#fff, 0.6),
    "shade": rgba(#000, 0.1),
    "title-fg": #fff,
    "overlay": transparent,
    "bg": #383838,
  ),
);

@function map-accents-to-message($theme, $accent, $colors) {
  $color: map.get($colors, "color");
  $bg: map.get($colors, "bg");

  @return (
    "description-fg": rgba($color, 0.6),
    "title-fg": rgba($color, 0.8),
    "shade": rgba($color, 0.05),
    "overlay": rgba($bg, 0.08),
    "outline": $color
  );
}

@include accents-map-to-component(
  "message",
  $mie-message-default-colors,
  meta.get-function("map-accents-to-message"),
  $mie-accents-by-theme
);
