.mie.item {
  @include flex(row, "", center);
  text-decoration: none;
  position: relative;

  &.vertical {
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    > .indicator {
      margin-bottom: var(--mie-item-margin-between);
      margin-right: 0;
    }

    > .side {
      margin-left: var(--mie-item-margin-between);
      margin-left: 0;
    }
  }

  &.center {
    justify-content: center;

    > .content {
      justify-content: center;
      text-align: center;
    }

    &.vertical {
      align-items: center;

      > .content {
        align-items: center;
      }
    }
  }

  > .indicator {
    margin-right: var(--mie-item-margin-between);
  }

  > .content {
    @include flex(column);
    flex: 1;

    &.inverted {
      > .title {
        font-size: var(--mie-item-description-fs);
        color: var(--mie-item-description-fg);
      }

      > .description {
        font-size: var(--mie-item-title-fs);
        color: var(--mie-item-title-fg);
      }
    }

    > .title {
      font-size: var(--mie-item-title-fs);
      color: var(--mie-item-title-fg);
      font-weight: 400;
    }

    > .description {
      font-size: var(--mie-item-description-fs);
      color: var(--mie-item-description-fg);
      font-weight: 400;
    }
  }

  > .side {
    @include flex(row, flex-end, center);
    margin-left: var(--mie-item-margin-between);
  }
}
