@use "sass:meta";
@use "sass:map";

@use "../../utils" as *;

$mie-sidebar-default-colors: (
  "light": (
    "bg": #ebebeb,
  ),
  "dark": (
    "bg": #303030,
  ),
);

@function map-accents-to-sidebar($theme, $accent, $colors) {
  $bg: map.get($colors, "bg");
  $fg: map.get($colors, "fg");

  @return ("bg": if($theme == "dark", lighten($bg, 10%), lighten($bg, 20%)));
}

@include accents-map-to-component(
  "sidebar",
  $mie-sidebar-default-colors,
  meta.get-function("map-accents-to-sidebar"),
  $mie-accents-by-theme
);
