@use "sass:list";
@use "sass:map";

@use "../../variables" as *;
@use "../../mixins" as *;

.mie.button.filled {
  --mie-button-bg-active: var(--mie-button-fill-active) !important;
  --mie-button-bg-hover: var(--mie-button-fill-hover) !important;
  --mie-button-bg-main: var(--mie-button-fill-main) !important;
}

@include not-many(
  ".mie.button.filled",
  list.join(map.keys($accents-preset), map.keys($colors-preset))
) {
  --mie-button-fg: var(--mie-button-fg-invert) !important;
}

.mie.button.transparent {
  --mie-button-bg-main: var(--mie-button-bg-transparent) !important;
}

.mie.button.tertiary {
  --mie-button-fg: var(--mie-button-fill-main) !important;

  &.transparent {
    &:hover {
      --mie-button-fg: #{rgba(#fff, 0.82)} !important;
    }
  }
}
