.adw.button {
  transition: all 0.3s ease;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;

  padding: 0 var(--adw-button-ph);
  height: var(--adw-button-size);

  justify-content: center;
  align-items: center;

  display: inline-flex;
  position: relative;

  font-size: var(--adw-button-fs);
  color: var(--adw-button-fg);
  font-weight: 700;

  border-radius: var(--adw-button-rounded);
  background-color: var(--adw-button-bg-main);

  // States
  &.hover,
  &:hover {
    background-color: var(--adw-button-bg-hover) !important;
  }

  &.active,
  &:active {
    background-color: var(--adw-button-bg-active) !important;
  }

  &:disabled,
  &.disabled {
    opacity: 0.8;

    &:hover,
    &:active {
      background-color: var(--adw-button-bg-main) !important;
    }
  }

  // Circular
  &.circular {
    min-height: var(--adw-button-size);
    min-width: var(--adw-button-size);
    height: var(--adw-button-size);
    width: var(--adw-button-size);
    border-radius: 50%;
    padding: 0;
  }

  // Pilled Style
  &.pilled {
    --adw-button-rounded: 3.4rem;
    --adw-button-pv: 0.856665rem;
    --adw-button-ph: 1.2rem;
  }

  // With Icons
  &.content {
    .adw.icon {
      margin-right: var(--adw-button-icon-ph);
    }
  }

  &.labeled {
    justify-content: flex-start;
    padding: 0;

    .adw.icon {
      background-color: rgba(#000, 0.1);
      padding: 0 var(--adw-button-icon-ph);
      height: var(--adw-button-size);
    }

    > .content {
      padding-left: var(--adw-button-icon-ph);
      padding-right: var(--adw-button-ph);

      font-size: var(--adw-button-fs);
      color: var(--adw-button-fg);
      font-weight: 700;
    }
  }
}
