@use "../../mixins" as *;
@use "./base" as *;

.mie.button {
  @include flex(none, center, center, inline-flex);
  border-radius: mvar("button.rounded");
  position: relative;

  & {
    @include button("button");
  }

  // Circular
  &.circular {
    padding: mvar("button.pv") mvar("button.pv");
    border-radius: 500rem;
  }

  // Pilled Style
  &.pilled {
    --mie-button-rounded: 500rem;
  }

  // With Icons
  > .mie.icon {
    --mie-icon-fg: mvar("button.fg");
  }
}
