/* Group */
.mie.buttons {
  display: inline-flex;
  flex-direction: row;

  .mie.button {
    border-right: 0.1rem solid var(--mie-button-border-color);
    border-radius: 0;

    &:first-child {
      border-top-left-radius: var(--mie-button-rounded);
      border-bottom-left-radius: var(--mie-button-rounded);
    }

    &:last-child {
      border-top-right-radius: var(--mie-button-rounded);
      border-bottom-right-radius: var(--mie-button-rounded);
      border-right: none;
    }
  }

  // Relaxed state for fluid buttons
  &.relaxed {
    .mie.button {
      flex: 1;
    }
  }
}
