.mie.rows > .row.entry {
  border-bottom: 0.1rem solid var(--mie-rows-border);

  &:first-child {
    > .mie.entry {
      border-top-left-radius: var(--mie-rows-border-radius);
      border-top-right-radius: var(--mie-rows-border-radius);

      input,
      textarea {
        border-top-left-radius: var(--mie-rows-border-radius);
        border-top-right-radius: var(--mie-rows-border-radius);
      }
    }
  }

  &:last-child {
    > .mie.entry {
      border-bottom-right-radius: var(--mie-rows-border-radius);
      border-bottom-left-radius: var(--mie-rows-border-radius);
      border-bottom-width: 0;

      input,
      textarea {
        border-bottom-right-radius: var(--mie-rows-border-radius);
        border-bottom-left-radius: var(--mie-rows-border-radius);
      }
    }
  }

  > .mie.entry {
    border-radius: 0;
    border-width: 0;

    input,
    textarea {
      border-radius: 0;
    }
  }
}
