:root,
[data-theme="light"] {
  // @TODO
}

[data-theme="dark"] {
  // @TODO
}

:root,
[data-theme="light"],
[data-theme="dark"] {
  --adw-rows-border-radius: 1.2rem;

  --adw-row-item-padding-v: 0.856665rem;
  --adw-row-item-padding-h: 1.6rem;
}
